<%= form_with(model: shipping_method, class: "contents") do |form| %>
  <% if shipping_method.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(shipping_method.errors.count, "error") %> prohibited this shipping_method from being saved:</h2>

      <ul class="list-disc ml-6">
        <% shipping_method.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": shipping_method.errors[:name].none?, "border-red-400 focus:outline-red-600": shipping_method.errors[:name].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :delivery_estimate %>
    <%= form.text_field :delivery_estimate, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": shipping_method.errors[:delivery_estimate].none?, "border-red-400 focus:outline-red-600": shipping_method.errors[:delivery_estimate].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :provider %>
    <%= form.number_field :provider, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": shipping_method.errors[:provider].none?, "border-red-400 focus:outline-red-600": shipping_method.errors[:provider].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
