<div id="<%= dom_id vendor %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= vendor.user_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Business name:</strong>
    <%= vendor.business_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= vendor.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Phone number:</strong>
    <%= vendor.phone_number %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Tax:</strong>
    <%= vendor.tax_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= vendor.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Commission rate:</strong>
    <%= vendor.commission_rate %>
  </div>
</div>
