<div id="<%= dom_id address %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= address.user_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Recipient name:</strong>
    <%= address.recipient_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Street address:</strong>
    <%= address.street_address %>
  </div>
  <div>
    <strong class="block font-medium mb-1">City:</strong>
    <%= address.city %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Region:</strong>
    <%= address.region %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Postal code:</strong>
    <%= address.postal_code %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Phone:</strong>
    <%= address.phone %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Is default:</strong>
    <%= address.is_default? ? "Yes" : "No" %>
  </div>
</div>
